{% extends 'WebplumbrBlogBundle:Admin:admin.html.twig' %}

{% block page_title %}Comments{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert-success alert">{{ message }}</div>
    {% endfor %}
    {% if comments.total is defined %}
        <div class="alert-info alert">There are {{ comments.total }} Comments</div>
    {% endif %}
    {% for comment in comments.comments %}
        <p>
            <span class="label label-info">{{ comment.status }}</span>&nbsp;
            <em>{{ comment.comment_date }}</em>, <strong>{{ comment.commenter }}</strong> said:<br/>
            <span class="quote">{{ comment.content }}</span>
            <a href="{{ path('edit_comment', {'id' : comment.comment_id }) }}" class="btn btn-link">Edit</a>
            {% if comment.status == 'unapproved' %}
            <a href="{{ path('approve_comment', {'id' : comment.comment_id }) }}" class="btn btn-link">Approve</a>
            {% endif %}
        </p>
    {% endfor %}

    {% if prev_uri is defined or next_uri is defined %}
        <nav>
            <ul class="pager">
                {% if prev_uri is defined %}
                    <li><a href="{{ prev_uri }}">Previous</a></li>
                {% endif %}
                {% if next_uri is defined %}
                    <li><a href="{{ next_uri }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}